# Backend:
/Backend/node_modules
/Backend/package-lock.json
/Backend/.env

# Frontend:
/Frontend/vives-card-game/package-lock.json
/Frontend/vives-card-game/node_modules
/Frontend/vives-card-game/.env

# docker
/docker/.env
/docker/db/data
/docker/db/*
/docker/package-lock.json
/docker/node_modules
/docker/api/node_modules
/docker/api/package-lock.json


